<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2019, WSO2 Inc., WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<Configuration status="INFO" packages="org.wso2.security.tools.scanmanager.scanners.common">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File">
            <FileName>scanner.log</FileName>
        </File>
        <CallbackLogAppender name="CallbackLogAppender"/>
    </Appenders>

    <Loggers>
        <Logger name="org.wso2.security.tools.scanmanager.scanners.common.logging.CallbackLogAppender" level="info"
                additivity="false">
            <AppenderRef ref="CallbackLogAppender"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="CallbackLogAppender"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
